body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body2-normal-all: Inter;

  /* font sizes */
  --body2-normal-all-size: 16px;
  --heading-h1-bold-desktop-size: 60px;

  /* Colors */
  --gray-600: #4b5563;
  --gray-900: #111827;

  /* Gaps */
  --gap-122xl: 141px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-8xs: 5px;
}
