body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body2-normal-all: Inter;

  /* font sizes */
  --body2-normal-all-size: 16px;
  --heading-h1-bold-desktop-size: 60px;

  /* Colors */
  --gray-600: #4b5563;
  --gray-900: #111827;

  /* Gaps */
  --gap-131xl: 150px;
  --gap-81xl: 100px;
  --gap-0: 0px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-31xl: 50px;
  --padding-81xl: 100px;
  --padding-mini: 15px;
}
