@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.text {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 72px;
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--heading-h1-bold-desktop-size);
  color: var(--gray-900);
}
.text1 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.body {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon {
  position: relative;
  width: 14px;
  height: 18px;
}
.text2 {
  position: relative;
  line-height: 24px;
}
.location {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.icon,
.icon-dot-emerald-500 {
  width: 8px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-dot-emerald-500 {
  position: relative;
  border-radius: 20px;
  background-color: #10b981;
  height: 8px;
}
.icon {
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.vector-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
}
.icon-rss-square {
  width: 24px;
}
.frame-child,
.frame-icon,
.icon-rss-square {
  position: relative;
  height: 24px;
  cursor: pointer;
}
.frame-icon {
  width: 25px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-child {
  width: 24px;
}
.vector-parent {
  width: 172px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
}
.intro,
.intro-wrapper,
.links,
.vector-parent {
  display: flex;
  align-items: flex-start;
}
.links {
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
}
.intro,
.intro-wrapper {
  flex: 1;
}
.intro {
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.intro-wrapper {
  background-color: transparent;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0;
  min-width: 400px;
  max-width: 500px;
}
.intro-wrapper.animate,
.untitled-design-18-1-wrapper.animate {
  animation: 0.5s ease-in 0s 1 normal forwards fade-in;
}
.untitled-design-18-1 {
  position: relative;
  width: 500px;
  height: 500px;
  object-fit: cover;
  min-width: 200px;
  max-width: 500px;
  min-height: 200px;
  max-height: 500px;
}
.untitled-design-18-1-wrapper {
  flex: 1;
  background-color: #b6b6b6;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  min-width: 400px;
  max-width: 500px;
  min-height: 500px;
  max-height: 500px;
}
.test-2 {
  position: relative;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px;
  box-sizing: border-box;
  gap: 200px;
  text-align: left;
  font-size: var(--body2-normal-all-size);
  color: var(--gray-600);
  font-family: var(--body2-normal-all);
}
@media screen and (max-width: 1200px) {
  .intro-wrapper {
    min-width: 400px;
  }
  .untitled-design-18-1-wrapper {
    gap: var(--gap-0);
    min-width: 400px;
    min-height: 500px;
  }
  .test-2 {
    width: auto;
    align-self: unset;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-131xl);
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 960px) {
  .intro-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-width: 375px;
    max-width: 500px;
  }
  .untitled-design-18-1 {
    min-height: 100px;
  }
  .untitled-design-18-1-wrapper {
    width: 100%;
    height: 100%;
    gap: var(--gap-0);
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    min-width: 375px;
    max-width: 500px;
    min-height: 200px;
  }
  .test-2 {
    width: auto;
    align-self: unset;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-131xl);
    align-items: flex-start;
    justify-content: center;
    padding-left: var(--padding-81xl);
    padding-right: var(--padding-81xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .intro-wrapper,
  .untitled-design-18-1-wrapper {
    padding: 0;
    box-sizing: border-box;
    min-width: 200px;
  }
  .test-2 {
    width: auto;
    align-self: unset;
    gap: var(--gap-81xl);
    align-items: center;
    justify-content: flex-start;
    padding: 25px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 350px) {
  .intro-wrapper {
    min-width: 200px;
  }
  .intro-wrapper,
  .untitled-design-18-1-wrapper {
    flex: unset;
    align-self: stretch;
  }
  .test-2 {
    width: auto;
    align-self: unset;
    flex-direction: column;
    gap: var(--gap-81xl);
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--padding-mini);
    padding-right: var(--padding-mini);
    box-sizing: border-box;
  }
}
